a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@font-face {
  font-family: 'MainLevee';
  src: url('../font/MainLevee/main%20lev%C3%A9e-regular-ju.ttf');
}

@font-face {
  font-family: 'TerminalDosis';
  src: url('../font/BB/Copie%20de%20TerminalDosis-VaivaiRegular.ttf');
}

@font-face {
  font-family: 'BigBimbo';
  src: url('../font/BB/Big%20Bimbo%20NC.ttf');
}

@font-face {
  font-family: 'Handwritting';
  src: url('../font/BB/Copie%20de%20Vaivai%20Handwritting%20Regular%20Mac.ttf');
}


/*
**************
Slider********
**************
*/

.monSlider {
  margin: 0 auto;
}

.monSlider-slide {
  position: relative;
}

.monSlider-slide .informations {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Handwritting', sans-serif;
  font-size: 2.5em;
  text-align: center;
}

.monSlider-slide .informations h2 {
  font-family: 'Handwritting', sans-serif;
  font-size: 1.7em;
  margin-bottom: -3%;
}

.monSlider-slide .enSavoirPlus {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 10px;
  font-family: 'MainLevee', sans-serif;
  bottom: 10%;
  right: 5%;
}

.monSlider-slide .enSavoirPlus a {
  color: #ed237a;
  font-size: 2em;
  margin: 30px;
}

.informations p,
.informations h2 {
  padding-left: 20px;
  padding-right: 20px;
}

.slick-prev {
  left: 25px;
  z-index: 99;
}

.slick-next {
  right: 50px;
  z-index: 99;
}

.slick-prev:before {
  content: url('../images/fleche_gauche.png');
}

[dir='rtl'] .slick-prev:before {
  content: url('../images/fleche_droite.png');
}

.slick-next:before {
  content: url('../images/fleche_droite.png');
}

[dir='rtl'] .slick-next:before {
  content: url('../images/fleche_gauche.png');
}


/*
**************
Header***********
**************
*/

.fLeft {
  float: left;
}

nav ul li {
  list-style-type: none;
}

header nav div div ul li a {
  font-family: 'MainLevee', sans-serif;
  font-size: 1.3em;
}

header nav div div ul li a:visited {
  text-decoration: overline;
  color: black;
}

header nav div div ul li a:link {
  text-decoration: none;
  color: black;
}

header nav div div ul li a:active {
  text-decoration: none;
  color: black;
}

.rose {
  color: #ed237a;
}


/*
**************
Section*******
**************
*/

.pasLa {
  display: none;
}

.relat {
  position: relative;
}

article div div:hover div.pasLa {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.fondVai {
  background-image: url('../images/background.png');
}

.backgroundVert {
  background-image: url('../images/pattern-green-triangle.png');
}

.centrer {
  text-align: center;
}

.vertiCentre {
  padding-top: 20%;
}

.fontHW {
  font-family: 'Handwritting', sans-serif;
  font-size: 4em;
}

.fontTD {
  font-family: 'TerminalDosis', sans-serif;
  font-size: 1.2em;
}


/*
**************
Footer********
**************
*/

footer {
  background-color: #ecf0f1;
}

footer nav div ul {
  text-align: center;
}

footer nav div ul li {
  list-style-type: none;
  padding-top: 13px;
  text-align: center;
  margin: 0;
}

footer nav div ul li img {
  float: left;
  max-width: 20%;
  max-height: 20%;
}

footer nav div ul li p {
  padding-top: 1%;
  font-family: 'TerminalDosis', sans-serif;
  font-size: 2vmin;
}

footer nav div ul.pitit {
  font-size: 1.1vmin;
}


/*
**************
Page Event****
**************
*/

.typeEvent {
  font-size: 2.5em;
  font-family: 'BigBimbo', sans-serif;
  color: #a2ffc9;
}

.vertAkwa {
  color: #a2ffc9;
  font-family: 'BigBimbo', sans-serif;
}

.patternWood {
  background-image: url('../images/fond-pattern-wood.jpg');
}

.fondGeo {
  background-image: url('../images/fond-production_SingleProductPage.jpg');
}


/*
**************
Page Produits*
**************
*/

.prodSlider {
  margin: 0 auto;
}

.prodSlider-slide {
  position: relative;
  text-align: center;
}

.prodSlider-slide .informations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.prodSlider-slide .informations h2 {
  text-align: center;
}

.boutonAchat {
  font-family: 'MainLevee';
  border: 1px solid black;
  background-color: #ecf0f1;
  color: #ed237a;
  border-radius: 5px;
}

.boutonAchat:hover {
  font-family: 'MainLevee';
  border: 1px solid black;
  background-color: #ed237a;
  color: #FFFFFF;
  border-radius: 5px;
}

.pititOu {
  color: #ed237a;
}

.achatTitre {
  font-family: 'BigBimbo';
  color: #ed237a;
}

.margeBasHaut {
  margin-top: 3%;
  margin-bottom: 4%;
}

.margeBasHautPlus {
  margin-top: 6%;
  margin-bottom: 4%;
}

.prodSlider-slide .enSavoirPlus {
  position: absolute;
  border-radius: 10px;
  font-family: 'MainLevee', sans-serif;
  bottom: 10%;
  right: 5%;
}

.prodSlider-slide .enSavoirPlus a {
  color: #ed237a;
  font-size: 2em;
  margin: 30px;
}


/*
**************
Page CAddict**
**************
*/

.gauche {
  text-align: left;
}

.droite {
  text-align: right;
}

.margeHaut {
  margin-top: 3%;
}
